.model-review{
    border: 2px solid var(--border-white);
    padding: 40px;
}
.contact-detail-title {
    margin-top: 0;
    border-top: none ;
}
.grid-model-form {
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.grid-rows-11 {
    grid-row-start: 1;
    grid-row-end: 11;
    grid-column: 2;
    border-right: 2px solid var(--border-white) ;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
}
.vertical-flex-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-box {
    transform: translateY(0);
}
.contact-detail-item .btn-custom {
    transform: translateY(0);
}
.radio-group .checkmark:after {
    top: 2px;
    left: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--border-white);
}
textarea {
    margin: 0!important;
    height: 100%;
}
.grid-model-last-step {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
}
.grid-model-last-step > div {
    border: 2px solid var(--border-white);
}
.avatar-upload {
    position: relative;
    width: 100%;
    height: 100%;
}
.avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;
}
.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-preview {
    height: 100%;
    position: relative;
}
.avatar-upload .avatar-preview > div {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
input[type='file'] {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
