.grid-model-container {
    display: grid;
    grid-template-areas:
    'categories gender location measurements'
    'categories-dropdown gender-dropdown location-dropdown measurements-dropdown'
    'space space space space'
    'models models models models'
    'discovery discovery discovery discovery'
    ;
    grid-auto-columns: 1fr;
}
.discovery-area {
    grid-area: discovery;
}
.discovery-area .btn-custom {
    width: 100%;
}
.discovery-area .btn-custom img {
    width: 90px;
    height: 45px;
}
.discovery-area .btn-custom .heading {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
.space-area {
    grid-area: space;
    height: 100px!important;
}

.wishlist-area, .models-area {

    grid-area: models;
    display: none;
}
#models, #wishlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.model-item {
    background-image: url("../images/models-page-full/img/Anna1.jpg") ;
    border: 1px solid var(--border-white);
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s;
    padding: 20px;
    color: var(--bg-blue-dark);
    z-index: 1;
}
.model-item .model-item-content {
    position: absolute;
}
.model-item:hover {
    background-size: cover;
}
.model-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.model-item-title img {
    height: 40px;
    /*transition: all 1s;*/
    cursor: pointer;
}
.model-item-title p {
    /*transition: all 1s;*/
}

.model-item .country {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    margin-top: 100px;
    background-color:  rgba(196, 196, 196, 0.6);
    width: fit-content;
    padding: 0 50px 0 20px;
    transform: translateX(-20px);
}
.model-item h6 {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;


    display: flex;
    align-items: center;
}
.model-item p {
    margin-top: 20px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
}
.icon-small {
    width: 20px;
    height: 20px;
    transition: all 0.25s;
}
.btn-icon-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.btn-custom .paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.categories-area {
    grid-area: categories;
}
.gender-area {
    grid-area: gender;
}
.location-area {
    grid-area: location;
}
.measurements-area {
    grid-area: measurements;

}
.categories-dropdown-area {
    grid-area: categories-dropdown;
    visibility: hidden;
    height: 0;
}
.none-opacity {
    opacity: 0;
}
@keyframes showDropdown {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.gender-dropdown-area {
    grid-area: gender-dropdown;
    visibility: hidden;
    height: 0;
}
.location-dropdown-area {
    grid-area: location-dropdown;
    visibility: hidden;
    height: 0;
}
.measurements-dropdown-area {
    grid-area: measurements-dropdown;
    visibility: hidden;
    height: 0;
}
.page-header {
    margin-top: 48px;
    display: flex;
    align-items: flex-start;
}
.page-header h1 {
    font-weight: 400;
    font-size: 200px;
    line-height: 230px;
    /* identical to box height */
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}
.page-header h6 {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: var(--text-dark);
    padding: 0;
    margin: 0;
}
.page-header > h6 {
    margin: 24px;

}
.dropdown-filter {
    position: absolute;
    z-index: 11;
    background-color: var(--bg-grey-light);
}
.dropdown-filter .btn-custom {
    width: 100%;
}
.btn-left {
    display: flex;
    justify-content: left;
}
.btn-disable-hover {
    border: 2px solid var(--border-white);
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 32px;
}
.btn-disable-hover .paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.btn-disable-hover  .input-text {
    padding: 14px;
    outline: none;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    background-color: var(--bg-grey-light);
    color: var(--text-white);
    margin: 25px 32px;
    width: 100%;
}
.btn-disable-hover .input-range {

}
.btn-disable-hover  .input-text::placeholder {
    color: #989090;
    opacity: 1; /* Firefox */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background:  var(--text-dark);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--text-dark);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--text-dark);
    cursor: pointer;
}
.discovery-area .btn-custom {
    background: var(--bg-grey-light);
}
.discovery-area .btn-custom:hover {
    background: linear-gradient(0.25turn,var(--text-dark) , var(--bg-grey-dark) ,var(--bg-grey-light) );
    transition: background 1s;
}

.discovery-area .btn-custom:hover  img {
    animation: discoveryAnimation 600ms ease-in 0s infinite;
}
@keyframes discoveryAnimation {
    0% {
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(-50px);
    }
}
.model-modal-alert {
    width: 600px;
    height: 500px;
}
.model-detail {
    display: grid;
    grid-template-columns: 30% 70%;
}
.model-detail .left{
    padding: 0!important;
    line-height: 0;
}
.model-detail .left video, .video-area video {
    width: 100%;
}

.model-detail .heading {
    font-style: normal;
    font-weight: 400!important;
    font-size: 48px!important;
    line-height: 55px;
}
.member-detail .left {
    padding: 0!important;
    line-height: 0;
}
.member-name {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    text-align: center;
}
.member-detail-box div {
    border: 2px solid var(--border-white);
}
.member-detail-box .right {

}
.no-change-color-p-tag:hover p {
    color: var(--text-dark) !important;
}
.model-item-title > h6 {
    background-color: rgba(196, 196, 196, 0.6);
    padding: 11px 21px;
    transform: translateX(-21px);
    height: fit-content;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.model-item-title .bg-grey {
    background-color: rgba(196, 196, 196, 0.6);
    transform: translateY(-21px);
    z-index: 15;
}
.heart-icon {
    margin:  24px 10px 5px 10px;
    height: 32px;
}
.grid-model-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid var(--border-white);
}
.work-container img {
    width: 400px;
    height: 400px;
    object-fit: cover ;
}
.work-container {
    width: 100%;
    height: fit-content;
    line-height: 0;
    display: grid;
    grid-template-columns: 400px auto;
}
.content-work {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 32px;
    border-left: 2px solid var(--border-white);
}
.client {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-work h6, .client h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
}
.client h6 {
    margin-left: 250px;
}
.photos-grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid var(--border-white);
    border-right: none;
    border-bottom: none;
}
.photos-grid-col-3 img {
    border-right: 2px solid var(--border-white);
    border-bottom: 2px solid var(--border-white);
    width: 100%;
}
.grid-compcard {
    display: grid;
    grid-template-areas:
                    'video img img info'
                    'video img img info'
                    'video img img info'
                    'contact img img info'
                     'contact name name download'   ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 2px solid var(--border-white);
    padding: 20px;

}
.grid-compcard div {
    border: 2px solid var(--border-white);
}
.video-area {
    grid-area: video;
}
.video-area #imgAvt{
    height: 100%;
    object-fit: cover;
}
.info-area {
    grid-area: info;
}
.contact-area {
    grid-area: contact;
}
.name-area {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
}
.  {
    grid-area: download;
}

.img-area1 {
    grid-area: img1;
}

.img-area2{
    grid-area: img2;
}

.img-area3 {
    grid-area: img3;
}
.video-area #logo {
    position: absolute;
    transform: translate(16px, 16px);
}
.btn-custom:hover, btn-custom:active  {
    background-color: var(--border-white);
    transition: background-color 0.5s;
}
.btn-custom:hover p {
    color: var(--bg-grey-light);
    transition: color 0.5s;
}
.active-model {
    background-color: var(--border-white);
}
.active-model p {
    color: var(--bg-grey-light);
}
.img-area {
    border: none!important;
    grid-area: img;
    display: grid;
    grid-template-areas:
                    ' img1 img4 '
                    ' img1 img4 '
                    ' img2 img3 '
                    ' img2 img3 ';
    grid-template-columns: 1fr 1fr;
}
.img-area4{
    grid-area: img4;
}
.img-area1, .img-area2, .img-area3, .img-area4 {
    min-height: 363px;
    height: 100%;
}
.img-area1 img, .img-area2 img, .img-area3 img, .img-area4 img {
    height: 100%;
    object-fit: cover;
    width: 100%;

}
